<!--
  DEWS UI/UX IDE - Build Result - v1.5
  # PageID: ac
  # PageTitle: ac
  # Server: https://dev.comet.duzon.net/
-->

<div class="dews-ui-condition-panel">
  <ul class="required-area">
    <li>
      <label class="dews-ui-multilingual">Label</label>
      <span>
        <input id="TextBox1" name="TextBox1" type="text" class="dews-ui-textbox basic" />
      </span>
    </li>
  </ul>
</div>
<div class="dews-ui-container-panel" style="overflow: visible;" data-dews-fit-bottom="true">
  <div class="dews-container-item" data-dews-position="normal" data-dews-width="632">
    <div id="Grid1" class="dews-ui-grid"></div>
  </div>
  <div class="dews-container-item" data-dews-position="right">
    <div class="dews-ui-form-panel" style="padding-right: 50px;">
      <ul>
        <li>
          <label>Label</label>
          <span>
            <input id="NumericTextBox1" name="NumericTextBox1" type="text" class="dews-ui-numerictextbox basic" data-dews-decimals="0" />
          </span>
        </li>
        <li>
          <label>Label</label>
          <span>
            <input id="TextBox2" name="TextBox2" type="text" class="dews-ui-textbox basic" />
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  // Sample CSS
</style>
<script>
  dews.ready(function () {
    var self = this;

    
    
    self.dataSource1 = dews.ui.dataSource('dataSource1', {
      schema: {
        model: {
          fields: [
            { field: 'aaa', editable: false, dataType: 'string' }, 
            { field: 'bbb', editable: false, dataType: 'string' }
          ]
    
        }
      },
      data: []
    });
    self.dataSource2 = dews.ui.dataSource('dataSource2', {
      grid: true,
      schema: {
        model: {
          fields: [
            { field: 'aaa', editable: false, dataType: 'string' }, 
            { field: 'bbb', editable: false, dataType: 'string' }
          ]
    
        }
      },
      data: []
    });
    
    
    dews.ui.grid(self.$Grid1, {
      height: 175,
      sortable: false,
      autoBind: false,
      checkable: false,
      fixed: {
        colCount: 0,
        rightColCount: 0
      }
    });
    
    
    
    
    

  
  });
  //# sourceURL=preview/<%= TEMP_DIR %>/ac.js
</script>